<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitreat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/CSS/base.css">
  <script src="static/JS/jquery.js"></script>
  <script src="static/JS/bootstrap.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #333333;
      color: white;
      padding: 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a class="navbar-brand" href="#">Twitreat</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" style="padding-right: 65px; padding-left: 65px; margin-right: auto; margin-left: auto;">
  <!-- <div class="row">
    <div class="well">
      <p>Title</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <a href="/myprofile"><img src="{{auth.picture}}" class="img-circle" height="85" width="85" alt="Avatar"></a>
        {% if auth.bio != None %}
		<h3>Bio</h3>
        <h5><i>"{{auth.bio}}"</i></h5>
        {% endif %}
      </div>

	  <div class="well">
		  <h4>Friend Requests</h4>
                {% for f in userdata['requests'] %}
                  <a href="#" style="font-size: 20px;">{{f[1]}}</a>
				  <br>
                  <a class="text-success" href="requests/add/{{f[0]}}"><button type="button" class="btn btn-success" name="button">Accept</button></a>
                  <a class="text-danger" href="requests/delete/{{f[0]}}"><button type="button" class="btn btn-danger" name="button">Decline</button></a>
				  <br>
                {% endfor %}
	  </div>

	  <div class="well">
		  <h4>Friends</h4>
              <ul>
                {% for f in userdata['friends'] %}
                  <a href="#" style="font-size: 20px;">{{f[0]}}</a>
                  <a class="text-danger" href="friends/delete/{{f[1]}}"><button type="button" class="btn btn-danger" name="button">Unfriend</button></a>
				  <br>
                {% endfor %}
              </ul>
  	  </div>
    </div>
    <div class="col-sm-6">

      <!-- Add Post -->
     <div class="well">
        <form method="post" action="post" enctype="multipart/form-data">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Make a post...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Post</button>
            </span>
          </div>
          <br>
      <input class="form-control-file" type="file" name="picture"/>
        </form>
     </div>
     <!--  -->
     <!-- Posts -->
      <form method="post" action="#">
              <div class="panel panel-default">
                <div class="panel-footer">
                  <span class="pull-left"><b>Name</b></span>
                  <span class="pull-right">timestamp &ensp;</span>
                </div>
                <div class="panel-body">
                  <p>Content</p>
                </div>
                <div class="panel-footer">
                <div class="input-group">
                  <input class="form-control" type="text" name="content" placeholder="Add a comment...">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" name="comment">Comment</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
    <!--  -->
    </div>

    <div class="col-sm-3 well">
      <h4>People You May Know</h4>
	  <hr>
      {% for f in userdata['otherusers'] %}
			<a href="#" style="font-size: 20px;">{{f[1]}}</a>
			<br>
      		<a class="text-success" href="friends/add/{{f[0]}}"><button type="button" class="btn btn-success" name="button">Add Friend</button></a>
			<hr>
      {% endfor %}
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>©Twitreat,2020</p>
</footer>

</body>
</html>
