<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitreat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/CSS/base.css">
  <script src="static/JS/jquery.js"></script>
  <script src="static/JS/bootstrap.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #333333;
      color: white;
      padding: 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    #comms{
      display: none;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a class="navbar-brand" href="#">Twitreat</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" style="padding-right: 65px; padding-left: 65px; margin-right: auto; margin-left: auto;">
  <!-- <div class="row">
    <div class="well">
      <p>Title</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <a href="/myprofile"><img src="{{auth.picture}}" class="img-circle" height="85" width="85" alt="Avatar"></a>
        {% if auth.bio != None %}
		<h3>Bio</h3>
        <h5><i>"{{auth.bio}}"</i></h5>
        {% endif %}
      </div>

	  <div class="well">
		  <h4>Friend Requests</h4>
                {% for f in userdata['requests'] %}
                  <a href="#" style="font-size: 20px;">{{f[1]}}</a>
				  <br>
                  <a class="text-success" href="requests/add/{{f[0]}}"><button type="button" class="btn btn-success" name="button">Accept</button></a>
                  <a class="text-danger" href="requests/delete/{{f[0]}}"><button type="button" class="btn btn-danger" name="button">Decline</button></a>
				  <br>
                {% endfor %}
	  </div>

	  <div class="well">
		  <h4>Friends</h4>
              <ul>
                {% for f in userdata['friends'] %}
                  <a href="#" style="font-size: 20px;">{{f[0]}}</a>
                  <a class="text-danger" href="friends/delete/{{f[1]}}"><button type="button" class="btn btn-danger" name="button">Unfriend</button></a>
				  <br>
                {% endfor %}
              </ul>
      </div>

      <div class="well">
        <h4>Groups</h4>
                <ul>
                  {% for f in userdata['groups'] %}
                    <a href="/groupposts/{{f[0]}}" style="font-size: 20px;">{{f[1]}}</a>
                    <a class="text-danger" href="groups/leave/{{f[0]}}"><button type="button" class="btn btn-danger" name="button">Leave Group</button></a>
            <br>
			<br>
                  {% endfor %}
                </ul>
		          <button class="btn btn-success" onclick="fun3()">Create a group</button>
		          <form action="/creategroup" method="post" id="comms">
		              <input class="form-control" type="text" name="cname" placeholder="Name"><br>
		              <textarea class="form-control" name="cdesc" cols="30" rows="10" placeholder="Description"></textarea>
		              <input class="btn btn-success" type="submit" value="Create Group">
		          </form>
        </div>

    </div>
    <div class="col-sm-6">

      <!-- Add Post -->
     <div class="well">
        <form method="post" action="/post" enctype="multipart/form-data">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Make a post...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Post</button>
            </span>
          </div>
          <br>
      <input class="form-control-file" type="file" name="picture"/>
        </form>
     </div>
     <!--  -->
     <!-- Posts -->
	 {% for p in userdata['posts'] %}
	  <form method="post">
			  <div class="panel panel-default">
				<div class="panel-footer">
				   <span class="pull-left"><b>{{p[0]}}</b></span>
				   <span class="pull-right">{{p[2]}} &ensp;</span>
				   <span><br><br> </span>
				</div>
				<div class="panel-body">
				  <p>{{p[1]}}</p><br>
				  {% if p[4] != "None" %}
				  	<img src="{{p[4]}}" height="200px" width="200px">
				  {%endif%}
				</div>
				<div class="panel-footer">
				<div class="input-group">
				  <input class="form-control" type="text" name="content" placeholder="Add a comment...">
				  <span class="input-group-btn">
            <button class="btn btn-success" type="submit" formaction="/like" name="like" value="{{p[3]}}">Like</button>
					<button class="btn btn-success" type="submit" name="comment" formaction="/comment" value="{{p[3]}}">Comment</button>
				  </span>
				</div>
			  </form>
			</div>
			{% for c in userdata['comments'] %}
                {% if c[1] == p[3] %}
                <div class="panel-footer">
				  <form method="POST" action="/delcom">
					  <span class="pull-left"><b>{{c[2]}}	&ensp;</b></span>
					  <span class="pull-left">{{c[3]}}</span>
    				  {% if c[5] == user %}
					 <span class="pull-right"><button class="btn btn-danger" type="submit" formaction="/delcom" name="delcom" value="{{c[0]}}" >Delete</button></span>
					 {% endif %}
					 <span><br><br> </span>
				 </form>
                </div>
                {% endif %}
                {% endfor %}
		  </div>
		 {% endfor %}
    <!--  -->
    </div>

    <div class="col-sm-3 well">
      <h4>People You May Know</h4>
	  <hr>
      {% for f in userdata['otherusers'] %}
			<a href="#" style="font-size: 20px;">{{f[1]}}</a>
			<br>
      		<a class="text-success" href="friends/add/{{f[0]}}"><button type="button" class="btn btn-success" name="button">Add Friend</button></a>
			<hr>
      {% endfor %}

      {% if (userdata['othergroups']|length) > 0 %}
      <h4>Groups you may like</h4>
	  <hr>
      {% for f in userdata['othergroups'] %}
			<a href="#" style="font-size: 20px;">{{f[1]}}</a>
			<br>
      		<a class="text-success" href="groups/join/{{f[0]}}"><button type="button" class="btn btn-success" name="button">Join Group</button></a>
			<hr>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<!-- <footer class="container-fluid text-center">
  <p>©Twitreat,2020</p>
</footer> -->

<script>
    function fun3(){
    var x = document.getElementById("comms")

    if(x.style.display=="none")
        x.style.display = "block";

    else x.style.display = "none";
  }
</script>

</body>
</html>
