<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
</head>

<body>

    <h3 style='text-align:center;color: #ccc;font-size: 20px;'>Welcome to chat room {{room}}</h3>
    <div id="messages">
        {% for message in messagedata %} {% if message != None %}
        <div><b>{{message[1]}}:&nbsp;</b>{{message[0]}}</div>
        {% else %} NONE {% endif %} {% endfor %}
    </div>

    <form id="form">
        <input id="message_input" type="text" class="message" placeholder="Enter your message here..." />
        <button type="submit">Send</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('join_room', {
                username: "{{userdata['username']}}",
                room: "{{room}}"
            });

            let message_input = document.getElementById('message_input');

            document.getElementById("form").onsubmit = function(e) {
                e.preventDefault();
                let message = message_input.value.trim();

                if (message.length) {
                    socket.emit('send_message', {
                        user_id: "{{userdata['userid']}}",
                        friend_id: "{{room - userdata['userid']}}",
                        username: "{{userdata['username']}}",
                        room: "{{room}}",
                        message: message
                    })
                }
                message_input.value = "";
                message_input.focus();
            }
        });

        window.onbeforeunload = function() {
            socket.emit('leave_room', {
                username: "{{ username }}",
                room: "{{ room }}"
            })
        };


        socket.on('receive_message', function(data) {
            console.log(data);
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`;
            document.getElementById('messages').appendChild(newNode);
        })

        socket.on('join_room_announcement', function(data) {

            if (data.username !== "{{ username }}") {
                const newNode = document.createElement('div');
                newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
                document.getElementById('messages').appendChild(newNode);
            }
        });

        socket.on('leave_room_announcement', function(data) {

            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}</b> has left the room`;
            document.getElementById('messages').appendChild(newNode);
        });
    </script>
</body>

</html>
