<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    REGISTER:
    <form action="/register" method="post">
      Name : <input type="text" name="name" /><br />
      Email : <input type="email" name="email" /><br />
      Create a password : <input type="password" name="password1" /><br />
      Confirm password : <input type="password" name="password2" /><br />
      Gender : <input type="radio" name="gender" value="1" /> Male
      <input type="radio" name="gender" value="0" /> Female <br />

      DOB : <input type="date" name="dob" min="1960-01-01" /> <br />

      <input type="submit" />
    </form>
  </body>
</html>
